@import "../../global.scss";

.contact{
    background-color: azure;
    display: flex;

    @include tablet{
                
        flex-direction: column;
        align-items: center;
    }
    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 1;
        overflow: hidden;
        @include flexCenter(center);

        img{
            height: 65%;
            
        }


        .social{
            
            @include flexCenter(center);
            padding:10px 0 0 40px;
            @include tablet{
                
                overflow: hidden;
            }@include mobile{
                
                overflow: hidden;
            }

            
            
            
            img{
                width: 40%;
                height: 80%;

                &:hover{
                    transform: rotate(10deg);

                }
                
            }
            
        }
    }

    .right{
        flex: 1;
        @include flexCenter(center);
        flex-direction: column;
        

        h2{
            font-size: 45px;
            @include tablet{
                font-size: 30px;
                text-align: center;
            }@include mobile{
                font-size: 30px;
                text-align: center;
            }
        }

        form{
            width: 60%;
            height: 60%;
            flex-direction: column;
             
            @include flexCenter(space-around);

            @include tablet{
                width: 80%;
                height: 80%;
            }@include mobile{
                width: 80%;
                height: 80%;
            }
        }


        input{
            width: 400px;
            height: 40px;
            padding-left: 20px;
            font-size: 20px;
            border-radius: 25px;
            border: none;
            
            color: rgb(129, 129, 129);

            @include tablet{
                margin: 10px 0;
                width: 200px;
                height: 50px;
            }@include mobile{
                margin: 10px 0;
                width: 200px;
                height: 50px;
            }
            
        }

        textarea{
            width: 400px;
            height: 200px;
            padding: 20px 0 0 20px;
            font-size: 20px;
            border-radius: 25px;
            border: none;
            color: rgb(129, 129, 129);
            @include tablet{
                margin: 20px 0;
                width: 200px;
                height: 100px;
            }@include mobile{
                margin: 20px 0;
                width: 200px;
                height: 100px;
            }
            
        }

        button{
            width: 200px;
            height: 50px;
            font-size: 20px;
            color: white;
            background-color: $mainColor;
            border: none;
            border-radius: 25px;
            font-weight: 500;
            cursor: pointer;

            &:focus{
                outline:none;
            }
            &:hover{
                font-weight: 550;
                background-color: $hoverColor;

            }
        }

        


        span{
            color: crimson;
            font-style: italic;
            font-family:cursive;
            font-size: 15px;
        }
    }
}