@import "../../global.scss";



.works{
    background-image:url(./worksBg.png);
    @include flexCenter(center);
    position: relative;
    @include mobile{
        display: none;
    }
    

    .arrow{
        height: 70px;
        position: absolute;
        cursor: pointer;

        &.left{
            left: 100px;
            transform: rotateY(180deg);
            
        }
        &.right{
            right: 100px;
        }
        &:hover{
            height: 80px;
            transition: all 0.3s ease-out;
            -webkit-transition:all 0.3s ease-out;
        }
    }

    .slider{
        height: 600px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 0.7s ease-out;
        -webkit-transition:all 0.7s ease-out;

        .container{
            width: 100vw;
            @include flexCenter(center);
            overflow: hidden;

            .item{
                width: 1300px;   
                height: 100%;
                
                
                border-radius: 30px;
                @include flexCenter(center);

                backdrop-filter: blur(20px) saturate(180%);
                -webkit-backdrop-filter: blur(20px) saturate(180%);
                background-color: rgba(255, 255, 255, 0.5);
                
                border: 1px solid rgba(209, 213, 219, 0.3);


                .left{
                    flex: 4;
                    height: 80%;
                    @include flexCenter(center);

                    .leftContainer{
                        width: 70%;
                        height: 60%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .imageContainer{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background-color: rgb(190, 148, 230);
                            @include flexCenter(center);
                        }
                            img{
                                width: 30px;
                            }

                            h2{
                                font-size: 60px;

                            }

                            p{
                                font-size: 18px;
                            }
                            // span{
                            //     font-size: 15px;
                            //     font-weight: bold;
                            //     text-decoration: underline;
                            // }
                        

                    }
                }
                .right{
                    flex: 8;
                    height: 100%;
                    @include flexCenter(center);
                    overflow: hidden;
                    padding-right: 5%;

                    img{
                        width: 100%;
                        height: 80%;
                        border-radius: 25px;
                        
                        
                        // transform: rotate(-5deg);

                    }
                    
                }
            }
        }
    }


}


.works{
    .arrow{
        @include tablet{
            height: 35px;
            position: absolute;
            cursor: pointer;
        }@include mobile{
            height: 35px;
            position: absolute;
            cursor: pointer;
            
        }

        &.left{
            @include tablet{
                left: 300px;
                bottom:8px;
                transform: rotateY(180deg);
            }
            
            
        }
        &.right{

            @include tablet{
                right: 300px;
                bottom:8px;
            }
        }
        &:hover{
            @include tablet{
                height: 40px;
                transition: all 0.3s ease-out;
                -webkit-transition:all 0.3s ease-out;
            }
        }
    }
}